@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes float-translate {
  50% {
    transform: translateY(-7px);
  }
}

@keyframes float {
  0% {
    transform: rotate(10deg) translateY(0);
  }

  50% {
    transform: rotate(5deg) translateY(-10px);
  }

  100% {
    transform: rotate(10deg) translateY(0);
  }
}

.animation-is-typing {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: -0.8em;
    bottom: 0;
    display: block;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
    line-height: 1em;
    content: "▊";
  }

  .build-in-animate &::before {
    animation: BlinkingCursor 0.75s infinite;
  }
}

@keyframes BlinkingCursor {
  0%,
  45% {
    opacity: 1;
  }

  55%,
  100% {
    opacity: 0;
  }
}

// Float animation

.animate-float {
  animation: float 12s ease-in-out infinite;
}
