// stylelint-disable primer/colors, primer/box-shadow, primer/no-override

// Import this file to use new gloss buttons on a marketing page
// This file will be removed and deprecated once these styles
// have been added to primer/css

$box-shadow-btn-primary: 0 3px 2px rgba(0, 0, 0, 0.07), 0 7px 5px rgba(0, 0, 0, 0.04), 0 12px 10px rgba(0, 0, 0, 0.03),
  0 22px 18px rgba(0, 0, 0, 0.03), 0 42px 33px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
$inverted-box-shadow-btn-primary: 0 4px 7px rgba(0, 0, 0, 0.5), 0 100px 80px rgba(255, 255, 255, 0.02),
  0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034),
  0 7px 5px rgba(255, 255, 255, 0.043), 0 3px 2px rgba(255, 255, 255, 0.07);
$color-primary: #1b1f23;
$bg-secondary: #f6f8fa;
$bg-inverted-hover: #e1e4e8;
$color-primary--inverted: #fff;
$color-primary--inverted-shadow: #586069;

.link-bump-mktg {
  display: inline-block;
  padding-bottom: $spacer-1;
  margin-right: $spacer-4;
  font-weight: $font-weight-bold;
  text-decoration: none !important;
  background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s, color 0.2s;
  font-feature-settings: "salt" 2;

  &:hover,
  &:focus {
    color: currentColor;
    background-size: 100% 100%;
  }

  &:active {
    outline: none;
  }

  .octicon {
    position: relative;
    top: -1px;
    left: 0;
    width: 16px;
    height: 16px;
    margin-right: -$spacer-3;
    transition: transform 0.2s;
    transform: translateX(0);
  }
}

.btn-mktg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), $color-primary !important;
  transition: box-shadow 0.2s;

  &::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%) !important;
    opacity: 0;
    transition: opacity 0.2s;
    background-blend-mode: normal;
  }

  &:hover,
  &:focus {
    box-shadow: $box-shadow-btn-primary !important;

    &::before {
      opacity: 1;
    }

    &:disabled {
      box-shadow: none !important;
    }
  }

  &:active {
    outline: none;
    box-shadow: 0 0 0 transparent;

    &::before {
      opacity: 0.5 !important;
    }
  }
}

.link-bump-mktg,
.btn-mktg {
  &:hover,
  &:focus {
    .octicon-chevrow {
      transform: translateX(4px);
    }

    .octicon-chevrow-stem {
      stroke-dashoffset: 20;
    }
  }

  &:active {
    .octicon-chevrow {
      transform: translateX(6px);
    }
  }

  .octicon-chevrow {
    width: 16px;
    height: 16px;
    transition: transform 0.2s;
    transform: translateX(0);
  }

  .octicon-chevrow-stem {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    transition: stroke-dashoffset 0.2s;
  }
}

.btn-outline-mktg {
  color: $color-primary !important;
  background: none !important;
  background-color: transparent !important;
  outline: none;
  box-shadow: rgba($color-primary, 0.15) 0 0 0 1px inset !important;
  transition: box-shadow 0.2s;

  &::before {
    background: none;
  }

  &:hover,
  &:focus {
    box-shadow: rgba($color-primary, 1) 0 0 0 2px inset !important;
  }

  &:active {
    box-shadow: rgba($color-primary, 1) 0 0 0 3px inset !important;
  }

  &:disabled {
    box-shadow: rgba($color-primary, 0.15) 0 0 0 1px inset !important;
  }
}

.btn-inverted-mktg {
  color: $color-primary !important;
  background: linear-gradient(180deg, #fff 0%, $bg-secondary 100%) !important;
  transition: box-shadow 0.2s;

  &::before {
    background: linear-gradient(180deg, #fff 0%, $bg-inverted-hover 100%) !important;
  }

  &:hover {
    box-shadow: $inverted-box-shadow-btn-primary;
  }

  &:active {
    box-shadow: 0 0 0 transparent;
  }
}

.btn-transparent {
  color: $color-primary--inverted !important;
  background: none !important;
  box-shadow: $color-primary--inverted-shadow 0 0 0 1px inset;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: rgba($color-primary--inverted, 1) 0 0 0 2px inset !important;
  }

  &:active {
    box-shadow: rgba($color-primary--inverted, 1) 0 0 0 3px inset !important;
  }

  &:disabled {
    box-shadow: rgba($color-primary--inverted, 0.15) 0 0 0 1px inset !important;
  }
}

.btn-large-invisible-mktg,
.btn-invisible-mktg {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;

  &::before {
    background: none !important;
  }

  &:focus,
  &:hover,
  &:disabled,
  &:active {
    box-shadow: none !important;
  }
}
